

.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        @include btn;
        &:active {
            @include btn-active;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}